<div class="jc-Shell">
  <div class="jc-CommentBox">
    <div class="jc-CommentBox-inputs">
      <h3>Leave a Comment</h3>
      <form class="jc-CommentBox-form">
        <label class="jc-CommentBox-label jc-CommentBox-textarea">
          <textarea name="content" required=""></textarea>
          <small class="jc-CommentBox-attribution">
            Powered by
            <a
              tabindex="-1"
              href="https://jamcomments.com"
              rel="noreferrer noopener"
              target="_blank"
            >
            JamComments
            </a>
          </small>
        </label>
        <label class="jc-CommentBox-label">
          Name
        <input type="text" name="name" required="" />
        </label>
        <label class="jc-CommentBox-label">
          Email Address
          <input type="email" name="emailAddress" />
        </label>
        <span class="jc-CommentBox-buttonWrapper">
          <button class="jc-CommentBox-button">Submit</button>
        </span>
      </form>
    </div>
  </div>
  <div class="jc-CommentList">
    <span class="jc-CommentList-count">0 comments</span>
    <ul class="jc-CommentList-list">
      COMMENTS WILL GO HERE.
    </ul>
  </div>
</div>
